<html>
    <head>
        <title>
            {{ page_title }}
        </title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <b>For help please see the APRSnotify Wiki: <br>
        <a href="{{ wiki_link }}" target="top">{{ wiki_link }}</a></b> <br><br>
        <a href="../">Return to Main Menu</a> <br><br>

       <h2>Miscellanious Configuration Settings</h2>
            <form action="{{url_for('update_configs') }}" method="POST">
        <table border=1>

            <tr>
                <td>
                    <table border = 0>
                        <tr>
                            <td>Units to Use:</td>
                            <td>
                                {% if units_to_use == 1: %}
                                    <input type="radio" name="units_to_use" value = "1" checked>Metric <input type="radio" name="units_to_use" value = "2" >Imperial
                                {% else %}
                                    <input type="radio" name="units_to_use" value = "1">Metric <input type="radio" name="units_to_use" value = "2" checked>Imperial
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border=0>
                        <tr>
                            <td>Time to wait for Checks (in seconds) (min: 600):</td>
                            <td>
                                    <input type="text" name="delay_time" value="{{delay_time}}">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border=0>
                        <tr>
                            <td>Your Timezone:</td>
                            <td>
                                <select name="timezone">
                                {% for x in range(0,timezones|length) %}
                                {% if timezones[x] == user_timezone %}
                                    <option value="{{timezones[x]}}" selected>{{timezones[x]}}</option>
                                {% else %}   
                                    <option value="{{timezones[x]}}">{{timezones[x]}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border=0>
                        <tr>
                            <td>Use Apprise-API:</td>
                            <td>
                                    <input type="checkbox" name="use_apprise_api" {% if use_apprise_api %} checked {% endif %}>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border=0>
                        <tr>
                            <td>APRS.Fi API Key:</td>
                            <td>
                                    <input type="text" name="aprsfi_apikey" value="{{aprsfi_apikey}}" size="50">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border=0>
                        <tr>
                            <td>WeatherAPI API Key:</td>
                            <td>
                                    <input type="text" name="wx_apikey" value="{{wx_apikey}}" size="50">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan = 2><center>
                    <input type="submit" name="submit" value="Update Configs">
                    <input type="submit" name="submit" value="Clear">
                    </center>
                </td>
                </form>
            </tr>
        </table>

    </body>
</html>