<html>
    <head>
        <title>
            {{ page_title }}
        </title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <b>For help please see the APRSnotify Wiki: <br>
        <a href="{{ wiki_link }}" target="top">{{ wiki_link }}</a></b> <br><br>

        -------------------  Main Menu -------------------<br>
        Please Click on one of the following options: <br><br>

        <ul>
            <li><a href="../configuration">Main Program Configuration Settings</a></li>
            <li><a href="../callsignlists">Callsign Tracking List Configuration</a></li>
            {% if use_apprise_api %}
            <li><a href="../apprise_api">Configure Apprise-API</a></li>
            {% else %}
            <li><a href="../add_services">Add New Service</a></li></li>
            <li><a href="../list_services">Update Current Services</a></li>
            {% endif %}

        </ul>

    </body>
</html>