<html>
    <head>
        <title>
            {{ page_title }}
        </title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <b>For help please see the APRSnotify Wiki: <br>
        <a href="https://github.com/n8acl/aprsnotify/wiki" target="top">https://github.com/n8acl/aprsnotify/wiki</a></b> <br><br>
        <a href="../">Return to Main Menu</a> <br><br>

        <h2>Configure Club Servers</h2>
        <table border=1>
            <tr>    
                <tr>
                <td valign = "top"> <!-- Telegram Settings -->
                    <form action="{{url_for('update_club_settings') }}" method="POST">
                        <input type = "hidden" name="app" value="telegram">
                    <table border=0>
                        {% for config_row in config_settings %}
                            <tr>
                                <td colspan = 2><b>Telegram Settings</b><br>
                                    To send to a club group channel, enter the Group Chat ID below.<br> 
                                    You can also use a bot provided by the club or your own bot to post to the channel. Your Bot Token has been preloaded.<br>
                                    <br>Send to club Telegram Group? 
                            {% if config_row[0] == True: %}
                                <input type="radio" name="club_telegram" value = "1" checked>Yes <input type="radio" name="club_telegram" value = "0" >No
                            {% else %}
                                <input type="radio" name="club_telegram" value = "1">Yes <input type="radio" name="club_telegram" value = "0" checked>No
                            {% endif %}
                                </td>
                            </tr>
                        {% endfor %}    
                        {% for row in telegram_keys %}
                            <tr>
                            <td>Club Bot Token:</td><td><input type="text" name="telegram_club_bot_token" size="50" value="{{ row[0] }}"> </td>
                            </tr>
                            <tr>
                            <td>Club Group Chat ID:</td><td><input type="text" name="telegram_club_chat_id" size="50" value="{{ row[1] }}"></td>
                            </tr>
                            <tr>
                            <td colspan=2>
                                <input type="submit" name="submit" value="Submit">
                                <input type="submit" name="submit" value="Clear">
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td valign= "top"> <!-- Discord Settings -->
                    <form action="{{url_for('update_club_settings') }}" method="POST">
                        <input type = "hidden" name="app" value="discord">
                    <table border=0>
                        {% for config_row in config_settings %}
                            <tr>
                                <td colspan = 2><b>Discord Settings</b><br>Send to club Discord Server? 
                            {% if config_row[1] == True: %}
                                <input type="radio" name="club_discord" value = "1" checked>Yes <input type="radio" name="club_discord" value = "0" >No
                            {% else %}
                                <input type="radio" name="club_discord" value = "1">Yes <input type="radio" name="club_discord" value = "0" checked>No
                            {% endif %}
                                </td>
                            </tr>
                        {% endfor %}    
                        
                        {% for row in discord_keys %}
                            <tr>
                            <td>Club Channel Webhook URL:</td><td><input type="text" name="discord_club_wh_url" size="50" value="{{ row[0] }}"> </td>
                            </tr>
                            <tr>
                            <td colspan=2>
                                <input type="submit" name="submit" value="Submit">
                                <input type="submit" name="submit" value="Clear">
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </form>
                </td>
                </tr>
                <tr>
                    <td valign= "top"> <!-- Mattermost Settings -->
                        <form action="{{url_for('update_club_settings') }}" method="POST">
                            <input type = "hidden" name="app" value="mattermost">
                        <table border=0>
                            {% for config_row in config_settings %}
                                <tr>
                                    <td colspan = 2><b>Mattermost Settings</b><br>Send to club Mattermost Server? 
                                {% if config_row[2] == True: %}
                                    <input type="radio" name="club_mattermost" value = "1" checked>Yes <input type="radio" name="club_mattermost" value = "0" >No
                                {% else %}
                                    <input type="radio" name="club_mattermost" value = "1">Yes <input type="radio" name="club_mattermost" value = "0" checked>No
                                {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}    
                            {% for row in mattermost_keys %}
                                <tr>
                                <td>Club Channel Webhook URL:</td><td><input type="text" name="mattermost_club_wh_url" size="50" value="{{ row[0] }}"> </td>
                                </tr>
                                <tr>
                                <td>Club Channel Webhook API Key:</td><td><input type="text" name="mattermost_club_api_key" size="50" value="{{ row[1] }}"> </td>
                                </tr>
                                <tr>
                                <td colspan=2>
                                    <input type="submit" name="submit" value="Submit">
                                    <input type="submit" name="submit" value="Clear">
                                </td>
                                </tr>
                            {% endfor %}
                        </table>
                        </form>
                    </td>
                    </tr>
                    <tr>
                        <td valign= "top"> <!-- Slack Settings -->
                            <form action="{{url_for('update_club_settings') }}" method="POST">
                                <input type = "hidden" name="app" value="slack">
                            <table border=0>
                                {% for config_row in config_settings %}
                                    <tr>
                                        <td colspan = 2><b>Slack Settings</b><br>Send to club Slack Server? 
                                    {% if config_row[3] == True: %}
                                        <input type="radio" name="club_slack" value = "1" checked>Yes <input type="radio" name="club_slack" value = "0" >No
                                    {% else %}
                                        <input type="radio" name="club_slack" value = "1">Yes <input type="radio" name="club_slack" value = "0" checked>No
                                    {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}    
                                {% for row in slack_keys %}
                                    <tr>
                                    <td>Club Channel Webhook URL:</td><td><input type="text" name="slack_club_wh_url" size="50" value="{{ row[0] }}"> </td>
                                    </tr>
                                    <tr>
                                    <td colspan=2>
                                        <input type="submit" name="submit" value="Submit">
                                        <input type="submit" name="submit" value="Clear">
                                    </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            </form>
                        </td>
                        </tr>
        </table>

    </body>
</html>