<html>
    <head>
        <title>
            {{ page_title }}
        </title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <b>For help please see the APRSnotify Wiki: <br>
        <a href="https://github.com/n8acl/aprsnotify/wiki" target="top">https://github.com/n8acl/aprsnotify/wiki</a></b> <br><br>

        -------------------  Main Menu -------------------<br>
        Please Click on one of the following options: <br><br>

        <ul>
            <li><a href="../configuration">Main Program Configuration Settings</a></li>
            <li><a href="../callsignlists">Callsign Tracking List Configuration</a></li>
            <li><a href="../smkeys">Configure Social Media Services</a></li>
            <li><a href="../msgsettings">Configure Message Notification Services</a></li>
            <li><a href="../clubsettings">Configure Club Server Services</a></li>
            <li><a href="../otherapikeys">Configure Other Various API Keys</a></li>
        </ul>

    </body>
</html>