<html>
    <head>
        <title>
            {{ page_title }}
        </title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <b>For help please see the APRSnotify Wiki: <br>
        <a href="https://github.com/n8acl/aprsnotify/wiki" target="top">https://github.com/n8acl/aprsnotify/wiki</a></b> <br><br>
        <a href="../">Return to Main Menu</a> <br><br>

        <h2>Configure Social Media Services</h2>
        <table border=1>
            <tr>    
                <td> <!-- Twitter Settings -->
                    <form action="{{url_for('update_api_keys') }}" method="POST">
                        <input type = "hidden" name="app" value="twitter">
                    <table border=0>
                        {% for config_row in config_settings %}
                            <tr>
                                <td colspan = 2><b>Twitter Settings</b><br>Send to Twitter? 
                            {% if config_row[0] == True: %}
                                <input type="radio" name="send_to_twitter" value = "1" checked>Yes <input type="radio" name="send_to_twitter" value = "0" >No
                            {% else %}
                                <input type="radio" name="send_to_twitter" value = "1">Yes <input type="radio" name="send_to_twitter" value = "0" checked>No
                            {% endif %}
                                </td>
                            </tr>
                        {% endfor %}    
                        {% for row in twitter_keys %}
                            <tr>
                            <td>Consumer Key:</td><td><input type="text" name="twitter_consumer_key" size="50" value="{{ row[0] }}"> </td>
                            </tr>
                            <tr>
                            <td>Consumer Secret:</td><td><input type="text" name="twitter_consumer_secret" size="50" value="{{ row[1] }}"></td>
                            </tr>
                            <tr>
                            <td>Access Token:</td><td><input type="text" name="twitter_access_token" size="50" value="{{ row[2] }}"></td>
                            </tr>
                            <tr>
                            <td>Access Secret:</td><td><input type="text" name="twitter_access_secret" size="50" value="{{ row[3] }}"></td>
                            </tr>
                            <tr>
                            <td colspan=2>
                                <input type="submit" name="submit" value="Submit">
                                <input type="submit" name="submit" value="Clear">
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </form>
                </td>
                </tr>
                <tr>
                <td valign = "top"> <!-- Telegram Settings -->
                    <form action="{{url_for('update_api_keys') }}" method="POST">
                        <input type = "hidden" name="app" value="telegram">
                    <table border=0>
                        {% for config_row in config_settings %}
                            <tr>
                                <td colspan = 2><b>Telegram Settings</b><br>Send to Telegram? 
                            {% if config_row[1] == True: %}
                                <input type="radio" name="send_to_telegram" value = "1" checked>Yes <input type="radio" name="send_to_telegram" value = "0" >No
                            {% else %}
                                <input type="radio" name="send_to_telegram" value = "1">Yes <input type="radio" name="send_to_telegram" value = "0" checked>No
                            {% endif %}
                                </td>
                            </tr>
                        {% endfor %}    
                        {% for row in telegram_keys %}
                            <tr>
                            <td>Bot Token:</td><td><input type="text" name="telegram_bot_token" size="50" value="{{ row[0] }}"> </td>
                            </tr>
                            <tr>
                            <td>My Chat ID:</td><td><input type="text" name="telegram_my_chat_id" size="50" value="{{ row[1] }}"></td>
                            </tr>
                        {% for config_row in config_settings %}  
                            <tr>
                                <td>Include Map <br> In Message:</td>
                                <td>
                                    {% if config_row[3] == True: %}
                                        <input type="radio" name="include_map_image_telegram" value = "1" checked>Yes <input type="radio" name="include_map_image_telegram" value = "0" >No
                                    {% else %}
                                        <input type="radio" name="include_map_image_telegram" value = "1">Yes <input type="radio" name="include_map_image_telegram" value = "0" checked>No
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}   
                            <tr>
                            <td colspan=2>
                                <input type="submit" name="submit" value="Submit">
                                <input type="submit" name="submit" value="Clear">
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td> <!-- Mastodon Settings-->
                    <table border=0>
                        {% for config_row in config_settings %}
                            <tr>
                                <td colspan = 2><b>Mastodon Settings</b><br>Send to Mastodon? 
                            {% if config_row[2] == True: %}
                                <input type="radio" name="send_to_mastodon" value = "1" checked>Yes <input type="radio" name="send_to_mastodon" value = "0" >No
                            {% else %}
                                <input type="radio" name="send_to_mastodon" value = "1">Yes <input type="radio" name="send_to_mastodon" value = "0" checked>No
                            {% endif %}
                                </td>
                            </tr>
                        {% endfor %}    
                        {% for row in mastodon_keys %}
                            <tr>
                            <td>Client ID:</td><td>{{ row[0] }} </td>
                            </tr>
                            <tr>
                            <td>Client Secret:</td><td>{{ row[1] }}</td>
                            </tr>
                            <tr>
                            <td>API Base URL:</td><td>{{ row[2] }}</td>
                            </tr>
                            <tr>
                            <td>User Access Token:</td><td>{{ row[3] }}</td>
                            </tr>
                         {% endfor %}
                    </table>
                    <br>
                    In order to obtain new keys/credentials, you will need to fill out the form below.<br>
                    Note that you should only do this if you actually need new credentials or you move<br>
                    Mastodon Instances. Also note that no login information is stored, just the instance<br>
                    URL of the instance your bot is on.<br><br>
                    <form action="{{url_for('update_api_keys') }}" method="POST">
                        <input type = "hidden" name="app" value="mastodon">
                        <table border=0>
                            <tr>
                                <td>First, I need the url of the instance your bot account is on.<br>(EX: https://botsin.space):</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="mastodon_instance_url" size="50"></td>
                            </tr>
                            <tr>
                                <td>Now I need to know what you want to call the app. Make it unique.<br>(EX: my_aprs_bot):</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="mastodon_bot_app_name" size="50"></td>
                            </tr>
                            <tr>
                                <td>Now I need the username for the bot account:</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="mastodon_username" size="50"></td>
                            </tr>
                            <tr>
                                <td>Finally I need the password for the bot account:</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="mastodon_password" size="50"></td>
                            </tr>
                            <tr>
                            <td colspan=2>
                                <input type="submit" name="submit" value="Submit">
                                <input type="submit" name="submit" value="Clear">
                            </td>
                            </tr>
                        </table>
                    </form>
                </td>
                </tr>
                <tr>
                <td valign= "top"> <!-- Discord Settings -->
                    <form action="{{url_for('update_api_keys') }}" method="POST">
                        <input type = "hidden" name="app" value="discord">
                    <table border=0>
                        {% for config_row in config_settings %}
                            <tr>
                                <td colspan = 2><b>Discord Settings</b><br>Send to Discord? 
                            {% if config_row[4] == True: %}
                                <input type="radio" name="send_to_discord" value = "1" checked>Yes <input type="radio" name="send_to_discord" value = "0" >No
                            {% else %}
                                <input type="radio" name="send_to_discord" value = "1">Yes <input type="radio" name="send_to_discord" value = "0" checked>No
                            {% endif %}
                                </td>
                            </tr>
                        {% endfor %}    
                        
                        {% for row in discord_keys %}
                            <tr>
                            <td>Webhook URL:</td><td><input type="text" name="discord_poswx_wh_url" size="50" value="{{ row[0] }}"> </td>
                            </tr>
                            <tr>
                            <td colspan=2>
                                <input type="submit" name="submit" value="Submit">
                                <input type="submit" name="submit" value="Clear">
                            </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </form>
                </td>
                </tr>
                <tr>
                    <td valign= "top"> <!-- Mattermost Settings -->
                        <form action="{{url_for('update_api_keys') }}" method="POST">
                            <input type = "hidden" name="app" value="mattermost">
                        <table border=0>
                            {% for config_row in config_settings %}
                                <tr>
                                    <td colspan = 2><b>Mattermost Settings</b><br>Send to Mattermost? 
                                {% if config_row[5] == True: %}
                                    <input type="radio" name="send_to_mattermost" value = "1" checked>Yes <input type="radio" name="send_to_mattermost" value = "0" >No
                                {% else %}
                                    <input type="radio" name="send_to_mattermost" value = "1">Yes <input type="radio" name="send_to_mattermost" value = "0" checked>No
                                {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}    
                            {% for row in mattermost_keys %}
                                <tr>
                                <td>Webhook URL:</td><td><input type="text" name="mattermost_poswx_wh_url" size="50" value="{{ row[0] }}"> </td>
                                </tr>
                                <tr>
                                <td>Webhook API Key:</td><td><input type="text" name="mattermost_poswx_api_key" size="50" value="{{ row[1] }}"> </td>
                                </tr>
                                <tr>
                                <td colspan=2>
                                    <input type="submit" name="submit" value="Submit">
                                    <input type="submit" name="submit" value="Clear">
                                </td>
                                </tr>
                            {% endfor %}
                        </table>
                        </form>
                    </td>
                    </tr>
                    <tr>
                        <td valign= "top"> <!-- SLack Settings -->
                            <form action="{{url_for('update_api_keys') }}" method="POST">
                                <input type = "hidden" name="app" value="slack">
                            <table border=0>
                                {% for config_row in config_settings %}
                                    <tr>
                                        <td colspan = 2><b>Slack Settings</b><br>Send to Slack? 
                                    {% if config_row[6] == True: %}
                                        <input type="radio" name="send_to_slack" value = "1" checked>Yes <input type="radio" name="send_to_slack" value = "0" >No
                                    {% else %}
                                        <input type="radio" name="send_to_slack" value = "1">Yes <input type="radio" name="send_to_slack" value = "0" checked>No
                                    {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}    
                                {% for row in slack_keys %}
                                    <tr>
                                    <td>Webhook URL:</td><td><input type="text" name="slack_poswx_wh_url" size="50" value="{{ row[0] }}"> </td>
                                    </tr>
                                    <tr>
                                    <td colspan=2>
                                        <input type="submit" name="submit" value="Submit">
                                        <input type="submit" name="submit" value="Clear">
                                    </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            </form>
                        </td>
                        </tr>


        </table>

    </body>
</html>